body {
    background-image: url("img/Home.svg"); /* Nastavte cestu k obrázku */
    background-size: cover; /* Roztáhne obrázek tak, aby pokryl celou obrazovku */
    background-position: center; /* Vycentruje obrázek */
    background-repeat: no-repeat; /* Zabrání opakování obrázku */
    font-family: 'HL Grotesk', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: #333;
    color: white;
    padding: 10px;
    font-weight: 600;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    padding-right: 50px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

main {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 140px; /* Jemné přiblížení k horní části */
}

.house-container {
    position: relative;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    transform: scale(1.5); /* Zvětšení o 150 % */
    transform-origin: center; /* Udržení středu při zvětšení */
}

.house-svg {
    width: 70%; /* Zmenšení na 50 % původní šířky */
    height: auto;
    margin-bottom: 0px;
    position: relative;
    left: 20%; /* Posun doprava o 20 % šířky kontejneru */
}